<html>
<body>
    #parse("/template/common/styles.vm")
    #parse("/template/common/header.vm")
<div id="user" style="$bodyMainStyle">
    <hr>
    Hello, $esc.html($user.name) <br>
    Please, click the link to complete the registration.
    <a href="${serverUrl}/signUp/accept/$user.password">Accept</a>
    <hr>
</div>
    #parse("/template/common/footer.vm")
</body>
</html>



