<div style="background: #eee;border: 1px solid #ccc;padding: 5px 10px;">
    <p>
        <span style="font-size: 14px;">
        Best regards,<br/>
        Software Engineering Department
        </span>
    </p>
</div>
