<div style="background: #eee;border: 1px solid #ccc;padding: 5px 10px;">
    <h2>
        <span style="color: #000000;">
        &nbsp; &nbsp; &nbsp;
            <img src="cid:bsu" style="width: 49px;height: 73px;float: left;"/>
        &nbsp;&nbsp;
        </span>
    </h2>

    <h2>
        <span style="color: #000000;">
            &nbsp; &nbsp; BSU, Software Engineering Department
        </span>
    </h2>
</div>