<div style="$headerBoxStyle">
    <h2>
        <span style="$headerBoxColor">
        &nbsp; &nbsp; &nbsp;
            <img src="cid:bsu" style="$headerLogoStyle"/>
        &nbsp;&nbsp;
        </span>
    </h2>

    <h2>
        <span style="$headerBoxColor">
            &nbsp; &nbsp; BSU, Software Engineering Department
        </span>
    </h2>
</div>